{% extends "base.html" %}
{% block content %}
  <div class="container">
    <p>I am a fitness freak and a motivator as well. My goal is to assist you in reaching your health and fitness goals in a manner that best fits your lifestyle, preferences and unique needs. By being proactive about your diet and getting  proper exercise, you can live a longer, have a healthier life....</p>
    <br>
    <p>You will see a change in your daily energy, your confidence, and most importantly your health. You just have to choose from beginner, intermediate and advance workout to have a customized experience which will be tailored to you.</p>
    <br>
    <p class="text-bold">Specialities: Transformation, nutritional counselling</p>
    <p>
      <a href="mailto:sahirufitnessclub@gmail.com" class="btn btn-primary my-2">E-mail Me</a>
    </p>
    <img src="#" alt="Not Found" height="300">
  </div>
{% endblock %}
